.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .inputBlock {
    display: grid;
    gap: 8px;
  }

  .box {
    background: rgb(248, 248, 248);
    padding: 24px 32px;

    .text {
      color: #1a1e29;
      font-size: 18px;
      font-weight: 400;

      span {
        color: #4c65bd;
        cursor: pointer;
      }
    }
  }
}
