.container {
  width: 100%;
  background: rgb(62, 70, 95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px 20px 361px 20px;

  .errImage {
    margin: 17px auto 48px auto;
  }

  .title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
  }

  .link {
    max-width: 300px;
    width: 100%;
    border-radius: 2px;
    background: rgb(255, 126, 0);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 0 auto;
  }
}
