.sectionContainer {
  max-width: 1252px;
  width: 100%;
  padding: 30px 0;
  display: grid;
  gap: 40px;
  justify-content: right;
}
@media (max-width: 768px) {
  .sectionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
