.tireInfoImgContainer {
  max-width: 912px;
  height: 240px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background:
    linear-gradient(
      270deg,
      rgb(90, 32, 184) 0%,
      rgb(76, 101, 189) 45.418%,
      rgba(76, 101, 189, 0) 100%
    ),
    url('../../../../shared/assets/imgs/MaskGroup\(men\).svg') no-repeat;

  .container {
    padding-left: 35%;

    .title {
      color: rgb(255, 255, 255);
      margin: 8px 0;
      line-height: 34px;
    }
    .text {
      color: rgb(255, 255, 255);
      margin: 8px 0;
    }

    .btn {
      font-size: 14px;
      font-weight: 500;
      padding: 12px 24px 12px 24px;
      margin-top: 22px;
    }
  }
}

@media (max-width: 768px) {
  .tireInfoImgContainer {
    max-width: 391px;
    height: 287px;
    border-radius: 10px;
    background:
      linear-gradient(
        270deg,
        rgb(90, 32, 184),
        rgb(76, 101, 189) 45.418%,
        rgba(76, 101, 189, 0) 100%
      ),
      url('../../../../shared/assets/imgs/MaskGroup\(men.modile\).svg')
        no-repeat;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;

      .title {
        width: 235px;
        line-height: 28px;
        font-size: 25px;
      }

      .text {
        width: 306px;
        font-size: 14px;
      }
    }
  }
}
