.header {
  background-color: rgb(26, 30, 41);
  position: relative;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .logo {
      text-align: center;
      width: 75px;
      height: auto;
      margin-left: 80px;
    }
  }

  .container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
  }
}
