.container {
  width: 100%;

  .title {
    margin-bottom: 6px;
  }

  .link {
    color: rgb(76, 101, 189);
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dashed rgb(76, 101, 189);
  }

  @media screen and (min-width: 768px) and (max-width: 1100px) {
    display: none;
  }
}