.personalNavigation {
  display: flex;
  align-items: center;
  gap: 55px;

  // .navContainer {
  //   display: flex;
  //   align-items: center;
  //   gap: 55px;
  // }

  // @media (max-width: 768px) {
  //   .navContainer {
  //     display: none;
  //   }
  // }
}