<<<<<<< HEAD
.personalNavigation {
  display: flex;
  align-items: center;
  gap: 55px;

  // .navContainer {
  //   display: flex;
  //   align-items: center;
  //   gap: 55px;
  // }

  // @media (max-width: 768px) {
  //   .navContainer {
  //     display: none;
  //   }
  // }
}
=======
.personalNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 55px;
  max-width: 356px;
  width: 100%;
}
>>>>>>> dev
