.bannerCarousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;

  .bannerSlides {
    display: flex;
    transition: transform 0.5s ease-in-out;

    .slide {
      width: 100%;
      min-height: 343px;
      flex-shrink: 0;
    }
  }
}
