.passwordInput {
  display: flex;
  background-color: #fff;
  width: 100%;
  padding: 8px 22px;

  .input {
    width: 100%;
    border: none;
    outline: none;
    color: rgb(26, 30, 41);
    font-size: 14px;
    font-weight: 400;
  }

  .btn {
    cursor: pointer;
  }
}
