// .list {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 30px;
//   align-items: center;
//   justify-content: center;
//   margin: 86px 0 34px;
//   width: 100%;
//   @media (max-width: 1200px) {
//     grid-template-columns: repeat(3, 1fr);
//   }

//   @media (max-width: 900px) {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   @media (max-width: 600px) {
//     grid-template-columns: 1fr;
//   }
// }
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 21px;
  place-items: center;
  width: 100%;
  @media (max-width: 768px) {
    gap: 18px;
  }
  .container > * {
    margin: 0 auto;

  }
  

  // @media (max-width: 900px) {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  // @media (max-width: 600px) {
  //   grid-template-columns: 1fr;
  // }
}
