.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 21px;
  place-items: center;
  width: 100%;
  max-width: 1250px;
  @media (max-width: 768px) {
    gap: 18px;
  }
  .container > * {
    margin: 0 auto;
  }
  
}
