.form {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btns {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
