.promotion {
  .promotionImage {
    width: 100%;
    max-width: 392px;
    height: auto;
  }

  .promotionContent {
    padding: 25px;

    .title {
      color: rgb(26, 30, 41);
      font-size: 24px;
      font-weight: 500;
      width: 232px;
    }

    .promotionTags {
      display: flex;
      gap: 8px;
      margin-top: 8px;

      .tag {
        color: rgb(255, 126, 0);
        font-size: 10px;
        font-weight: 400;
        border-radius: 2px;
        background: rgb(255, 233, 213);
        padding: 4px;
      }
    }

    .promotionDate {
      display: flex;
      align-items: center;
      gap: 9px;
      font-size: 14px;
      margin-top: 30px;

      p {
        color: rgb(106, 106, 106);
        font-weight: 400;
      }

      span {
        color: rgb(26, 30, 41);
        font-weight: 500;
      }
    }
  }
}