.promotion {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
  max-width: 392px;

  .promotionImage {
    width: 100%;
  }

  .promotionContent {
    padding: 8px 0 0 5%;
    padding-bottom: 40px;

    .content {
      height: 135px;
      padding-bottom: 25px;

      .title {
        max-width: 328px;
        color: rgb(26, 30, 41);
        font-size: 24px;
        font-weight: 500;
        text-align: start;
        padding-bottom: 8px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
  @media (max-width: 768px) {
    max-width: 289px;

    .promotionImage {
      max-width: 289px;
      width: 100%;
    }

    .promotionContent {
      padding: 10px 0px 32px 20px;

      .content {
        height: 125px;

        .title {
          max-width: 225px;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;

          -webkit-line-clamp: 3;
        }
      }
    }
  }
}
