.wrapper {
  max-height: 117px;
  overflow: hidden;
}
.open { 
  max-height: none;
}
.show {
  border: none;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  width: auto;

  span {
    color: #4c65bd;
  }
}
