.container {
  max-width: 816px;
  .title {
    margin: 24px 0 8px 0;
  }
  .date {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
  }
  .img {
    max-width: 808px;
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
    display: grid;
    justify-content: center;

    .title {
      margin: 24px 0 0 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 48px;
    }
    .img {
      max-width: 392px;
      width: 100%;
    }
  }
}