.container {
  .title {
    margin: 24px 0 8px 0;
  }
  .text {
    line-height: 24px;
  }
  
  @media (max-width: 768px) {
    display: grid;
    justify-content: center;

    .title {
      font-size: 22px;
      font-weight: 500;
      margin: 23px 0 0 4;
    }
    .text {
      max-width: 404px;
    }
  }
}