.title {
  font-family: 'IBM Plex Sans';
  color: #1A1E29;
  font-weight: 500;
}

.xl-40 {
  font-size: 40px;
  line-height: 48px;
}

.lg-32 {
  font-size: 32px;
  line-height: 48px;
}

.md-24 {
  font-size: 24px;
  line-height: 32px;
}

.sm-18 {
  font-size: 18px;
  line-height: 24px;
}