.footerCenter {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .callButton {
      cursor: pointer;
      transition: all 0.3s ease;
      margin: 16px 0 32px 0;
  
      &:hover {
        background: #ff9900;
        color: #fff;
      }
    }
  
    .socials {
      margin-top: 16px;
      display: flex;
      gap: 10px;
  
      a {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ff9900;
  
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }