.container {
  max-width: 966px;
  width: 100%;
  padding: 27px 0 0 27px;
  min-width: 0;

  @media (max-width: 768px) {
    padding: 27px 0 0 0;
  }
  @media (max-width: 480px) {
    padding: 0;
  }
  .topContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;

    .modalButton {
      color: #1a1e29;
      background: none;
      font-weight: 500;
      padding: 0 8px;
      border: none;
      display: flex;
      gap: 8px;
    }
    .modal {
      width: 100%;
    }

    .select {
      max-width: 288px;
    }

    .text {
      line-height: 16px;
      margin-right: 18px;
      white-space: nowrap;
    }

    @media (max-width: 530px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

  .rowGap88 {
    row-gap: 88px;

    @media (max-width: 675px) {
      row-gap: 18px;
    }
  }
}
