.container {
  max-width: 966px;
  width: 100%;
  padding: 27px 27px 0;
  min-width: 0;

  @media (max-width: 400px) {
    padding: 27px 5px 0 0;
  }
  .topContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;

    :first-child {
      max-width: 288px;
    }
    .text {
      line-height: 16px;
      margin-right: 18px;
      white-space: nowrap;
    }

    @media (max-width: 400px) {
      flex-direction: column-reverse;
    }
  }

  .rowGap88 {
    row-gap: 88px;

    @media (max-width: 675px) {
      row-gap: 18px;
    }
  }
}
