
li {
  cursor: pointer;
  color: #4C65BD;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  position: relative; 
  padding-left: 10px; 
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #4C65BD;
  transform: scaleY(0); 
  transition: transform 0.3s ease;
}

li:hover {
  color: #1A1E29;
}

li:hover::before {
  transform: scaleY(1); 
}



@media (max-width: 1100px) {
  .anchor {
    display: none; 
  }
}
