.viewProduct {
  margin-top: 40px;
  padding: 0 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}
