.menu {
  display: flex;
  position: relative;
  gap: 60px;
  list-style: none;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.servicesButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.company {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}
