.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 30, 41);
  height: 85px;
}

.logo {
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }


}