.images {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .block {
    display: flex;
    flex-direction: column;
  }

  .label {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
  }

  .addText {
    color: rgb(255, 126, 0);
    font-size: 20px;
    font-weight: 500;
  }

  .galaryList {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 0));
    gap: 1rem;
  }
}
