/* .icon {
  font-size: 20px;
  cursor: pointer;
} */

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.searchForm {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.searchForm.open {
  opacity: 1;
  visibility: visible;
}

.searchInput {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  width: 200px;
}

.searchButton {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0056b3;
}