.container {
  max-width: 1252px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  gap: 32px;
  padding-bottom: 80px;

  @media (max-width: 768px) {
    .btn {
      font-size: 14px;
      padding: 12px 24px 12px 24px;
    }
  }
}
