.tabs {
  display: flex;
  border-bottom: #e5e5e5 solid 1px;
  margin-bottom: 16px;
  button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4c65bd;
    padding: 16px;
  }
  .activeTab {
    color: #ff7e00;
    border-bottom: #ff7e00 solid 1px;
  }
}
