.title {
  margin: 20px 0;
}

.personalDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  p {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 450px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 2px;
  }
}
input::placeholder {
  color: #1a1e29;
  font-style: italic;
  padding: 5px;
}
