.promotion {
  text-align: center;

  .btn {
    margin: 20px 0 50px 0;
  }
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
  .title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: #1a1e29;
  }
  .popularProducts {
    margin: 86px 0 34px;
    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
