.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #ff7e00;

  input {
    display: none;
  }

  .customCheckbox {
    width: 22px;
    height: 22px;
    border: 2px solid #ff7e00;
  }

  input:checked + .customCheckbox {
    background-color: #ff7e00;

    &::after {
      opacity: 1;
    }
  }
}
